* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

/* general */
div.hide {
  display: none;
}

.mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
div.showed {
  margin: 1em;
  font-size: 4em;
}

